<!--Victor Welters 1 ITF 1 r0784055-->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>Overzicht Personeel met wedde</title>
</head>
<body>
<h1>Personeelsleden met hun wedde:</h1>
<ul>
    <li th:each="personeelsleden : ${personeelsleden}"
        th:text="${personeelsleden.getFamilienaam()+' '+personeelsleden.getVoornaam()+' '+personeelsleden.getWedde()+'€ per maand'}" class="apart"/>
</ul>
<a href="/"><p class="biglink center">Terug naar de beginpagina</p></a>
</body>
</html>