<!--Victor Welters 1 ITF 1 r0784055-->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>Registratie Personeel</title>
</head>
<body>
<h1>Nieuwe supermarkt</h1>
<div class="center">
<form action="8_overzichtSupermarkt">
    <p>
        <label for="naam">Naam supermarkt </label>
        <input type="text" name="naam" id="naam">
    </p>
    <p>
        <input type="submit" name="Registreer" value="Registreer nieuwe supermarkt">
    </p>
</form>
</div>
<a href="index"><p class="center biglink">Terug naar de startpagina</p></a>
</body>
</html>