<!--Victor Welters 1 ITF 1 r0784055-->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>Startpagina</title>
</head>
<body>
<h1>SuperJava</h1>

<a href="/1_registratieKlant"><p class="biglink center">Nieuwe klant</p></a>

<a href="/3_registratiePersoneel"><p class="biglink center">Nieuw personeelslid</p></a>

<a href="/5_overzichtPersoneel"><p class="biglink center">Overzicht personeel</p></a>

<a href="/6_overzichtKlant"><p class="biglink center">Overzicht klanten</p></a>

<a href="/7_registratieSupermarkt"><p class="biglink center">Nieuwe supermarkt</p></a>

<a href="/8_overzichtSupermarkt"><p class="biglink center">Overzicht supermarkten</p></a>

<a href="/9_registratieAfdeling"><p class="biglink center">Nieuwe afdeling</p></a>

<a href="/12_overzichtWedde"><p class="biglink center">Examen: Overzicht personeelsleden MET wedde</p></a>

<div>
<form action="/11_zoekOpNaam" >
    <p class="center">
        <label for="naam">Zoek op naam: </label>
        <input type="text" name="naam" id="naam">
        <input type="submit" name="zoek" value="Zoek">
    </p>
</form>
</div>

<footer>Door Victor Welters uit 1 ITF 1 Gemaakt</footer>
</body>
</html>